body {
	font-family: 'Roboto', sans-serif;
}

.top {
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
}

	@media only screen and (min-device-width: 576px) {
	nav.menu-mobile {
		visibility: hidden;
	}
	}

nav.menu {
	background-color: #033076;
	height: 30px;
	width: 563px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	margin-right: 90px;
	border-radius: 30px;
}

nav.menu>a:hover {
	border: 1px solid white;
	border-color: white;
}

nav>a {
color: white;
text-decoration: inherit;

}

.logo {
	margin-left: 33px;
	width: 145px;
}

header {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	width: 1280px;
	height: 550px;
	background-position: center center;
	margin-bottom: 5px;
}

.row-1 {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	justify-content: center;
}

.row-1>figure {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%
  	
}

/* .row-1 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	width: 100%
} 

figure {
	width: 20%
}
*/

.text {
	margin-top: 5px;
	background-image: url(../images/fon.png);
	background-repeat: no-repeat;
	width: 1280px;
	height: 183px;
	text-align: center;
	background-position: center center;	
}

.adv {
	padding-left: 20px;
}

.list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.select {
	padding: 0px 40px 0px 40px;
}

.str {
	margin-bottom: 3px;
}

select {
	border-radius: 4px;
	width: 100px;
	border-color: black;
}

.checkbox {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.check {
	margin-right: 15px;
}

.estim {
	margin-top: 15px;
	border-radius: 4px;
	background-color: #033076;
	color: white;
	border-color: black;
	border: 1px;
	width: 129px;
	height: 29px;
}

.steps {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.steps>img {
	margin-left: 20px;
	margin-top: 10px
}

h2 {
	text-align: center;
}

.form {
	display: block;
	text-align: center;
}

.header {
	margin-bottom: 0px;
}

.form>label input {
	margin-top: 10px;
}

.submit {
	border-radius: 4px;
	background-color: #033076;
	color: white;
	border-color: black;
	border: 1px;
	width: 129px;
	height: 29px;
}

.heart {
	margin-left: 250px;
}

footer {
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	width: 1280px;
	height: 353px;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contacts {
	padding-top: none;
	color: white;
	margin-left: 30%;
}




nav.menu-2 {
	background-color: #033076;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 152px;
	height: 192px;
	text-align: center;
	margin-right: 50px;
}

.menu-2>a {
	align-items: center;
	height: 100%;
	padding-top: 10px;
}

nav.menu-2>a:hover {
	border: 1px solid white;
	border-color: white;
	padding: -10px;
}

footer img {
	width: 22px;
}

/* Mobile version */

@media only screen and (max-device-width: 575px)  {

	header {
		background-image: url(../images/header-mobile.jpg);
		background-repeat: no-repeat;
		background-size: 575px 255px;
		width: 575px;
		height: 255px;
		background-position: center center;
		margin-bottom: 5px;
	}

	.logo {
		margin-left: 14px;
		width: 93px;
	}

	.row-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}

	.row-1>figure {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* Менюшка */

	.menu-icon {
        display: block;
        cursor: pointer;
        float: right;
        background: url(../images/burger.png);
        height: 23px;
        width: 32px;
        position: relative;
		bottom: 40px;
		right: 20px;
    }


   .menu-mobile .menu-links a {
	    visibility: hidden;
    	display: block;
	   	border-radius: 30px;
	   	margin-top: 5px;
		text-decoration: none;
		cursor: pointer;
		font-weight: bold;
		color: white;
	}

	#menu-button {
    display: none;
	}

	.menu-links {
	    visibility: hidden;
	    float: right;
	    background-color: #033076;
		border-radius: 30px;
		height: 120px;
		width: 130px;
		text-align: center;
	}

	#menu-button:checked ~ .menu-links {
		opacity: 1;
    	visibility: visible;
	}

	#menu-button:checked ~ .menu-links a {
    	opacity: 1;
    	visibility: visible;
	}

	.menu {
		visibility: hidden;
	}

	.menu-mobile .menu-links a:hover {
		color: orange;
	}

	
	.text {
	margin-top: 5px;
	background-image: url(../images/fon-mobile.png);
	background-repeat: no-repeat;
	width: 575px;
	height: 149px;
	text-align: center;
	background-position: center center;	
}

/* Выравнивание футера */

footer {
	background-image: url(../images/footer-mobile.jpg);
	background-repeat: no-repeat;
	width: 575px;
	height: 158px;
	background-position: center center;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.menu-2 {
		visibility: hidden;
	}

footer h3 {
font-size: 20px;
	}

footer p {
	font-size: 12px;
}

footer img {
	width: 14px;
}

}
