body {
	font-family: 'Roboto', sans-serif;
}


nav.menu {
	background-color: #033076;
	height: 30px;
	width: 563px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	margin-right: 90px;
	border-radius: 30px;
}

nav>a {
color: white;
text-decoration: inherit;

}

.logo {
	margin-left: 33px;
}

header {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	width: 1280px;
	height: 550px;
	background-position: center center;
	padding-bottom: 5px;
}


.row-1 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%
}

figure {
	width: 20%
}


.top {
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
}

.text {
	margin-top: 5px;
	background-image: url(../images/fon.png);
	background-repeat: no-repeat;
	width: 1280px;
	height: 183px;
	background-position: center center;	
}

.adv {
	padding-left: 20px;
}

.list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.select {
	width: 12%;
}

.str {
	margin-bottom: 3px;
}

select {
	border-radius: 4px;
	width: 100px;
	border-color: black;
}

.checkbox {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.check {
	margin-right: 15px;
}

.estim {
	margin-top: 15px;
	border-radius: 4px;
	background-color: #033076;
	color: white;
	border-color: black;
	border: 1px;
	width: 129px;
	height: 29px;
}

.steps {
	display: flex;
	justify-content: center;
	width: 100%;
}

.steps>img {
	margin-left: 15px;
}

h2 {
	text-align: center;
}

.form {
	display: block;
	text-align: center;
}

.header {
	margin-bottom: 0px;
}

.form>label input {
	margin-top: 10px;
}

.submit {
	border-radius: 4px;
	background-color: #033076;
	color: white;
	border-color: black;
	border: 1px;
	width: 129px;
	height: 29px;
}

.heart {
	margin-left: 250px;
}

footer {
	margin-top: -150px;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	width: 1280px;
	height: 353px;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}


.contacts {
	padding-top: none;
	position: relative;
	left: 400px;
	top: 100px;
	color: white;
}

nav.menu-2 {
	background-color: #033076;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 152px;
	height: 192px;
	text-align: center;
	margin-right: 50px;
}

.menu-2>a {
	align-items: center;
	height: 100%;
	padding-top: 10px;
}